body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
     "aside header"
     "aside main";
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, 1fr;
  
}

.introducao{
    grid-area: header;
}

.menu-lateral{
    grid-area: aside;
}

.conteudo{
    grid-area: main;
}


